
*{
    font-family: 'Work Sans', sans-serif;
}


/* Header Section Start  */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
}

.nav-title{
    color: #131313;
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    font-size: normal;
    font-weight: 700;
    line-height: normal;
    
}

nav ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 80px;
}

nav li a{
    text-decoration: none;
    color: #454545;
}

/* Header Section End  */

/* Banner Section Start */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description{
    color: #727272;
}

.btn-primary{
    padding: 20px 25px;
    background-color: #FF900E;
    color: #FFF;
    border: none;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-size: 20px;
}

header img{
    margin-top: 50px;
    width: 100%;
}
/* Banner Section End */

/* This is Quick list Section Start */
main{
    max-width: 1440px;
    margin: 0 auto;
}

.main-section{
    display: flex;
    align-items: center;
}

.image-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    
}

.title-description{
    padding-left: 70px;
    padding-left: 70px;
}

.quick-list{
    color: #727272;
    font-size: 45px;
    font-size: 'Work Sans';
    font-weight: 500;
}

.of-our{
    color:  #131313;
    font-size: 45px;
    font-family: 'Work Sans';
    font-weight: 700;
} 

.features{
    color: #FF900E;
    font-size: 45px;
    font-family: 'Work Sans';
    font-weight: 700;
}

.description{
    color: #727272;
    font-size: 16px;
    font-family: 'Work Sans';
    font-weight: 400;
}

/* This is Quick list Section End */


/* This is media queries Start in Header Section */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }

    nav,
    .main-section{
        flex-direction: column;
    }
    .image-section{
        grid-template-columns: 1fr;
    }
    .title-description{
        padding-left: 20px;
        padding-left: 20px;
    }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }

    nav, .main-section{
        flex-direction: column;
    }
}
/* This is media queries in Header Section End */